.container {
    text-align: center;
    background-color: brown;
    color: white;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 100px;
    margin-left: 350px;
    background-color:lightblue;
    margin: 0;
    padding: 10px;

}
.about-container{
    display: flex;
    align-items: center;
    gap: 100px;
    width: 900px ;
    margin: auto;
}
img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    overflow: hidden;
}
.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer{
    text-align: center;
    background-color: crimson;
    padding: 10px;
    color: white;
    font-style: bold;
    font-weight: bolder;
}
body{
    background-color:#D2B48C;
}
h2{
    background-color:beige;
    text-align: center;
    border-radius:100%;
    padding: 15px;
}